.image {
    position: relative;
    left: 6rem;
    top: 2rem;
    width: 15rem;
}

.profile {
    position: relative;
    left: 32rem;
    top : -11rem;
    height: 30rem;
}

.profileCard{
    width: 50rem;
    height: 11rem;
}

.todo {
    position: relative;
    left: 10rem;
    width: 20rem;
    top: -23rem;
}
.todoCard {
    height: 20rem;
}

.calendar {
    position: relative;
    left: 32rem;
    top: -43rem;
}